.button {
  display: block;
  padding: 13px 10px;
  width: 100%;
  min-height: 52px;
  .set-font-size(17px, 20px);
  font-weight: 700;
  text-align: center;
  .set-uppercase();
  color: @gray-primary;
  border: 2px solid @gray-primary;
  background-color: @white;
  transition: 0.3s;

  &:hover {
    color: @white;
    background-color: @gray-primary;
  }

  &:focus {
    outline: dashed 2px @gray-border-modal;
    outline-offset: 3px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @gray-primary;
  }
}
