.catalog {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    padding-top: 38px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    padding-top: 80px;
  }
}
