.catalog-item {
  margin-bottom: 29px;
  min-height: 375px;
  border: 1px solid @gray-border;
}

.catalog-item__image {
  width: 100%;
}

.catalog-item__info-wrapper {
  padding: 22px 28px 5px;
}

.catalog-item__link-title {
  color: @black;
}

.catalog-item__title {
  margin: 0;
  .set-font-size(17px, 24px);
}

.catalog-item__description {
  margin-top: 5px;
  margin-bottom: 19px;
  .set-font-size(13px, 30px);
  color: @gray-primary;
}

.catalog-item__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 0;
  border-top: 1px solid @gray-border;
}

.catalog-item__price {
  margin: 0;
  .set-font-size(15px, 24px);
  color: @black;
  font-weight: 700;
}

.catalog-item__button {
  display: block;
}
