.main-nav {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__list {
  .list-reset();
  font-family: @font-main;
  font-weight: 700;

  &--store-nav {
    display: none;

    .main-nav__link:hover {
      opacity: 0.6;
    }

    .main-nav__link:active {
      opacity: 0.3;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 50px;
      width: 50%;
      order: 3;

      .main-nav__item {
        padding: 0;
      }

      .main-nav__link {
        display: block;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 62px;
        .set-font-size(15px, 24px);
      }
    }
  }

  &--user-nav {
    @media (min-width: @tablet-width) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      order: 1;
      background-color: @white;
      border-bottom: 1px solid @gray-border;
      padding-right: 0;
    }

    @media (min-width: @desktop-width) {
      position: relative;
      justify-content: flex-end;
      width: 500px;
      order: 2;

      &::before {
        .pseudo(@display: block, @pos: absolute, @content: "");
        top: 0;
        left: 500px;
        width: calc(50vw - 575px); //половина ширины окна минус ширина списка
        height: 100%;
        background-color: @white;
        box-shadow: 0 1px 0 0 @gray-border;
        z-index: 1;
      }
    }

    .main-nav__item {
      @media (min-width: @tablet-width) {
        padding: 0;
        border-left: 1px solid @gray-border;
      }
    }

    .main-nav__link--search {
      @media (min-width: @tablet-width) {
        display: block;
        padding: 45px 0 44px 82px;
      }
    }

    .main-nav__link--cart {
      @media (min-width: @tablet-width) {
        display: block;
        padding: 32px 50px 32px 85px;
      }
    }
  }

  &--site-nav {
    .main-nav__link:hover {
      opacity: 0.6;
    }

    .main-nav__link:active {
      opacity: 0.3;
    }

    @media (min-width: @tablet-width) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 50px;
      width: 55%;
      order: 2;

      .main-nav__link {
        .set-font-size(15px, 24px);
        display: block;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 37px;
      }

      .main-nav__item {
        padding: 0;
      }
    }

    @media (min-width: @desktop-width) {
      position: relative;
      padding-left: 50px;
      width: 500px;
      order: 0;
      background-color: @white;
      border-bottom: 1px solid @gray-border;

      &::before {
        .pseudo(@display: block, @pos: absolute, @content: "");
        top: 0;
        right: 500px;
        width: calc(50vw - 575px); //половина ширины окна минус ширина списка
        height: 100%;
        background-color: @white;
        box-shadow: 0 1px 0 0 @gray-border;
        z-index: 1;
      }

      .main-nav__link {
        .set-font-size(17px, 24px);

        padding-top: 32px;
        padding-bottom: 32px;
        padding-right: 36px;
        display: block;
      }

      .main-nav__item {
        padding: 0;
        text-align: left;
      }

      .main-nav__item:not(:last-child) {
        margin-right: 34px;
        border-right: 1px solid @gray-border;
      }
    }
  }
}

.main-nav__item {
  position: relative;
  margin-top: -1px;
  padding: 25px 20px 29px 74px;

  @media (max-width: @mobile-width-only) {
    // margin-top: 0;
    border: 1px solid @gray-border;
  }
}

.main-nav__link {
  .set-font-size(17px, 24px);
  color: @black;
  transition: 0.3s;

  &:hover {
    .main-nav__link-icon {
      fill: @blue-primary;
      opacity: 1;
    }

    .main-nav__link-cart-text {
      opacity: 0.6;
    }
  }

  &:active {
    .main-nav__link-icon {
      fill: @blue-primary;
      opacity: 0.3;
    }

    .main-nav__link-cart-text {
      opacity: 0.3;
    }
  }
}

.main-nav__link-icon {
  position: absolute;
  left: 31px;
  top: 30px;
  opacity: 0.2;
  transition: 0.3s;

  @media (min-width: @tablet-width) {
    left: 32px;
    top: 36px;
  }
}

.main-nav__text {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding-right: 50px;
    margin-top: 18px;
    margin-left: auto;
    max-width: 45%;
    order: 4;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    max-width: 35%;
  }
}

.main-nav__link-search-text,
.main-nav__link-cart-text {
  transition: 0.3s;
}

.main-nav__link-search-text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__logo-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 17px;

  border-bottom: 1px solid @gray-border;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-grow: 1;
    padding: 21px 50px 15px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 0;
    width: 150px;
    order: 1;

    padding: 8px 0 0 0;
  }
}

.main-nav__logo {
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 31px;
  right: 27px;

  width: 24px;
  height: 18px;

  background-color: @white;
  border: none;

  display: block;
  cursor: pointer;
  background-image: url("../img/menu-open-icon.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 29px;
  right: 30px;

  width: 21px;
  height: 20px;
  background-image: url("../img/menu-close-icon.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__list--site-nav,
.main-nav--opened .main-nav__list--user-nav {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.main-nav--closed .main-nav__list--site-nav,
.main-nav--closed .main-nav__list--user-nav {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__list--site-nav,
.main-nav--nojs .main-nav__list--user-nav {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
