.order {
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
  }
}

.order__header {
  min-height: 150px;
  padding-top: 69px;
  padding-bottom: 75px;
  margin-bottom: 23px;
  background-color: @gray-secondary;

  @media (min-width: @tablet-width) {
    position: relative;
    min-height: 177px;
    padding-top: 34px;
    margin-bottom: 62px;

    &::after {
      .pseudo(@display: block, @pos: absolute, @content: "");
      bottom: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 770px 23px;
      background-repeat: repeat-x;
      background-position: bottom;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 212px;
    padding-top: 33px;

    &::after {
      height: 38px;
      background-size: 1150px 34px;
    }
  }
}

.order__title {
  margin: 0 auto;
  .set-font-size(27px, 30px);
  color: @black;
  text-align: center;
  max-width: 80%;

  @media (min-width: @tablet-width) {
    max-width: 70%;
    .set-font-size(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .set-font-size(53px, 57px);
  }
}

.order__text {
  margin-bottom: 24px;
  .set-font-size(13px, 24px);

  @media (min-width: @tablet-width) {
    margin-bottom: 29px;
    .set-font-size(17px, 30px);
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    margin-top: 105px;
    padding-right: 150px;
  }
}
