.order {
  margin-bottom: 55px;
}

.order__header {
  min-height: 150px;
  padding-top: 69px;
  padding-bottom: 75px;
  margin-bottom: 23px;
  background-color: @gray-secondary;
}

.order__title {
  margin: 0;
  .set-font-size(27px, 30px);
  color: @black;
  text-align: center;
}

.order__text {
  margin-bottom: 24px;
  .set-font-size(13px, 24px);
}
