.page-footer__logo-link {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.page-footer {
  min-height: 160px;
  background-color: @gray-secondary;

  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
}

.page-footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 319px;
  padding-left: 52px;
  padding-right: 54px;
  padding-top: 19px;
  // width: 100%;
  // text-align: center;
  // vertical-align: middle;

  &::before {
    .pseudo(@display: block, @pos: absolute, @content: "");
    top: 0;
    width: 80%;
    height: 1px;
    background-color: @gray-border;
  }
}

// .copyright__text {
//   // padding-right: 22px;
// }
