.page-header {
  background-color: @white;

  @media (min-width: @tablet-width) {
    background-color: @gray-secondary;
  }
}

.page-header--index {
  background-color: @white;

  @media (min-width: @tablet-width) {
    background-color: @gray-background;
  }
}
