.production {
  margin-bottom: 57px;
}

.production__content-wrapper {
  border: 1px solid @gray-border;
}

.production__content {
  position: relative;
}


.production__header {
  // position: relative;
  // padding-left: 90px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 34px;
}

.production__title {
  padding-left: 25px;
  .set-font-size(17px, 24px);
  color: @black;
}

.production__icon-camera {
  // position: absolute;
  // left: calc(50% - 16px);
  // top: calc(50% - 11px);
  .set-font-size(17px, 24px);
  color: @black;
  width: 36px;
  height: 35px;
  display: block;
}


.production__info {
  padding: 9px 33px 32px;
}

.production__text {
  margin-bottom: 25px;
  .set-font-size(13px, 24px);
}

.production__play-button {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 38px);
  padding: 0;
  width: 101px;
  height: 77px;
  background-color: transparent;
  border: 0;
}

.production__video {
  width: 100%;
}
