.promo {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -19px;
  background-color: @gray-background;
  width: 100%;
  min-height: 487px;
  padding-top: 50px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-size: 487px auto;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    min-height: 697px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: cover;
    background-position: center -62px;

    &::after {
      .pseudo(@display: block, @pos: absolute, @content: "");
      bottom: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 770px 23px;
      background-repeat: repeat-x;
      background-position: bottom;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1153px auto;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 704px;

    &::after {
      // bottom: 0;
      // width: 100%;
      height: 38px;
      // background-image: url(../img/zigzag-fill-desktop.svg);
      background-size: 1250px 37px;
      // background-repeat: repeat-x;
      // background-position: bottom;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
  }
}

.promo__title {
  padding: 0 30px;
  margin-top: 19px;
  text-align: center;
  .set-font-size(27px, 30px);
  color: #010000;

  @media (min-width: @tablet-width) {
    margin-top: 43px;
    .set-font-size(43px, 50px);
  }

  @media (min-width: @tablet-width) {
    .set-font-size(53px, 57px);
    padding-right: 80px;
    padding-left: 80px;
  }
}

.promo__category-list {
  .list-reset();
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.promo__category-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
  min-height: 103px;
  padding-left: 29px;

  &--accessory {
    background-color: @blue-primary;
  }

  &--toys {
    background-color: @blue-secondary;
  }

  @media (min-width: @tablet-width) {
    padding-left: 36px;
    margin-bottom: 1px;
    min-height: 136px;
    width: 50%;
  }
}

.promo__category-link {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  // padding-top: 25px;
  // padding-left: 29px;

  color: @white;
  font-weight: 700;
}

.promo__category-title {
  .set-font-size(19px, 24px);
  max-width: 110px;
  margin-top: 13px;

  @media (min-width: @tablet-width) {
    .set-font-size(20px, 30px);
    margin-top: 2px;
  }
}

.promo__category-icon-accessory,
.promo__category-icon-toys {
  position: absolute;
  fill: @blue-icon;
  opacity: 0.5;
}

.promo__category-icon-accessory {
  .set-image-size(40px, 62px);
  right: 35px;
  top: 11px;

  @media (min-width: @tablet-width) {
    right: 37px;
    top: 4px;
  }
}

.promo__category-icon-toys {
  .set-image-size(60px, 60px);
  right: 27px;
  top: 8px;

  @media (min-width: @tablet-width) {
    right: 34px;
    top: 6px;
  }
}
