.promo {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: calc(100% - 133px);
  background-color: @gray-background;
  width: 100%;
  min-height: 487px;
  padding-top: 50px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 576px auto;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    min-height: 697px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: cover;
    background-position: center -62px;

    &::after {
      .pseudo(@display: block, @pos: absolute, @content: "");
      bottom: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 770px 23px;
      background-repeat: repeat-x;
      background-position: bottom;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1153px auto;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 704px;

    background-image: url("../img/hero-desktop@1x.jpg");

    &::after {
      height: 38px;
      background-size: 1250px 37px;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1153px auto;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
  }
}

.promo__title {
  padding: 0 30px;
  margin-top: 19px;
  margin-bottom: 123px;
  text-align: center;
  .set-font-size(27px, 30px);
  color: #010000;

  @media (min-width: @tablet-width) {
    margin-top: 43px;
    .set-font-size(43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .set-font-size(53px, 57px);
    padding-right: 80px;
    padding-left: 80px;
  }
}

.promo__category-list {
  .list-reset();
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.promo__category-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
  // min-height: 103px;

  &--interior {
    background-color: @blue-primary-hover;
  }

  &--toys {
    background-color: @blue-secondary-hover;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 1px;
    min-height: 131px;
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    min-height: 136px;
  }
}

.promo__category-link {
  // position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 23px 36px 19px 29px;

  color: @white;
  font-weight: 700;

  &--interior {
    position: relative;
    background-color: @blue-primary;
    transition: 0.3s;

    &::before {
      .pseudo(@display: block, @pos: absolute, @content: "");
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover {
      background-color: @blue-primary-hover;
      transform: translateY(-5px);

      .promo__category-icon-interior {
        opacity: 0.7;
      }

      // .promo__category-item--interior {
      //   background-color: @blue-primary-hover;
      // }
    }

    &:active {
      background-color: @blue-primary-hover;

      .promo__category-icon-interior,
      .promo__category-title {
        opacity: 0.3;
      }
    }
  }

  &--toys {
    background-color: @blue-secondary;
    transition: 0.3s;
    padding-right: 26px;
    padding-top: 21px;

    &:hover {
      background-color: @blue-secondary-hover;
      transform: translateY(-5px);

      .promo__category-icon-toys {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: @blue-secondary-hover;

      .promo__category-icon-toys,
      .promo__category-title {
        opacity: 0.3;
      }
    }

    @media (min-width: @tablet-width) {
      padding-right: 33px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 36px;
    padding-top: 30px;
  }
}

.promo__category-title {
  .set-font-size(19px, 24px);
  margin: 0;
  margin-top: 3px;
  max-width: 25%;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    .set-font-size(20px, 30px);
  }
}

.promo__category-icon-interior,
.promo__category-icon-toys {
  fill: @blue-icon;
  opacity: 0.5;
}

.promo__category-icon-interior {
  .set-image-size(40px, 62px);
}

.promo__category-icon-toys {
  .set-image-size(60px, 60px);
}
