.social {
  .list-reset();
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;

  // @media (min-width: @desktop-width) {
  //   padding-top: 21px;
  // }
}
// .social__item {
//   padding: 5px;
// }

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-left: 6px;
  width: 40px;
  height: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    margin-left: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 7px;
    margin-left: 13px;
  }
}

.copyright__logo {
  margin-top: 3px;

  @media (min-width: @desktop-width) {
    margin-top: 5px;
  }
}
