.social {
  .list-reset();
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 187px;
  padding: 27px 25px 20px 20px;
  // border-bottom: 1px solid @gray-border;
}

// .social__item {
//   padding: 5px;
// }

.social__link {
  display: block;
}
